.paper {
    padding: 3em 2em 2em 2em;
    width: 100%;
}

.theme-light {
    background: #e3e3e3;
    border: 1px solid #ebebeb;
}

.theme-dark {
    background-color: #9e9e9e33 !important;
    color: #3f51b5 !important;
}

.center {
    justify-content: center;
    margin-bottom: 3em !important;
    width: 100%;
    text-align: center;

}

.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-grid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    position: relative;
}

.name-field {
    margin-bottom: 3em !important;
    width: 100%;
}

.name {
    width: 100%;
}